<% include adminmenu %>
<% include slider %>

<div id="page">
		<div id="content">
			<div class="box">
				<h2 style="color:orangered"><%=result%></h2>
				<br>
				<h2>Login Page</h2>
                
                <form method="POST" action="/admin/addcategory" enctype="multipart/form-data">
                    <table  cellspacing='10'>
                        <!--
                        <tr>
                            <td>Name</td>
                            <td>
                            <input type="text" name="catnm" />    
                            </td>
                        </tr>
                        -->
                        <tr>
                            <td>Category</td>
                            <td>
                            <input type="text" name="cat_nm" />    
                            </td>
                        </tr>
                        <tr>
                            <td>Upload Image</td>
                            <td>
                            <input type="file" name="cat_img" />    
                            </td>
                        </tr>
                        
                        <tr>
                            <td colspan="2">
                               <center><input type="submit" name="s" value="Add Category" /></center>     
                            </td>
                        </tr>
                    </table>        
                </form>

                </div>
		</div>
		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">Facebook</a></li>
					<li><a href="#">Gmail</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">LinkedIn</a></li>
				</ul>
			</div>
			
		</div>
		<br class="clearfix" />
	</div>
	
<% include pagebottom %>


