<% include menu %>
<% include slider %>

	<div id="page">
		<div id="content">
			<div class="box">
				<h2>Welcome to PostKarde.com</h2>
				<p>
					<strong>PostKarde.com</strong> is a free local classifieds site. Sell anything from used cars to mobiles, furniture, laptops, clothing and more. Submit ads for free and without creating an account. If you want to buy something - here you will find interesting items, cheaper than in the store. Start buying and selling in the most easy way on <strong>PostKarde.com</strong>.
				</p>
			</div>
			<style>
			#mycat
			{
				height:450px;
				width:600px;
			}

			#mycat1
			{
				height:150px;
				width:200px;
				float:left;
			}
			</style>

			<div id="mycat">
				<% for(i=0;i<mycat.length;i++){ %>
				<a href="/viewsubcat/<%= mycat[i].cat_nm %>">
				<div id="mycat1">
					<center><img src="uploads/<%= mycat[i].cat_img %>" height="100" width="150">
					<br>
					<b>
					<%= mycat[i].cat_nm %>
					</b>
					</center>
				</div>
				</a>
				<% } %> 
			</div>
		</div>

		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">LinkedIn</a></li>
					<li><a href="#">Instagram</a></li>
					<li class="last"><a href="#">Google Hangouts</a></li>
				</ul>
			</div>
			<div class="box">
				<h3>Activity Log</h3>
				<div class="date-list">
					<ul class="list date-list">
						<li class="first"><span class="date">24/06</span> <a href="#">Project Started</a></li>
						<li><span class="date">24/06</span> <a href="#">Template Installed</a></li>
						<li><span class="date">24/06</span> <a href="#">Template Edited</a></li>
						<li class="last"><span class="date">24/06</span> <a href="#">UI Completed</a></li>
					</ul>
				</div>
			</div>
		</div>
		<br class="clearfix" />
	</div>
	
<% include pagebottom %>


