<!DOCTYPE html>
<html>
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>PostKarde.com</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
<link href="../images/logo.jpg" rel="shortcut icon" type="image/jpg"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="../javascripts/jquery.dropotron-1.0.js"></script>
<script type="text/javascript" src="../javascripts/jquery.slidertron-1.1.js"></script>
<script type="text/javascript">
	$(function() {
		$('#menu > ul').dropotron({
			mode: 'fade',
			globalOffsetY: 11,
			offsetY: -15
		});
		$('#slider').slidertron({
			viewerSelector: '.viewer',
			indicatorSelector: '.indicator span',
			reelSelector: '.reel',
			slidesSelector: '.slide',
			speed: 'slow',
			advanceDelay: 4000
		});
	});
</script>
</head>
<body>


<div id="wrapper">
	

	
	<div id="header">
		<div id="logo">
			<h1><a href="#">PostKarde.com</a></h1>
		</div>
	</div>
	


	
	<div id="menu">
		<ul>
			<li class="first">
				<span class="opener">Services<b></b></span>
				<ul>
					<li><a href="/addpost">Add Post</a></li>
					<li><a href="#">View Post</a></li>
				</ul>
			</li>
			<li><a href="/">Home</a></li>
			<li><a href="login">Login</a></li>
			<li><a href="#">Clients</a></li>
			<li>
				<span class="opener">Support<b></b></span>
				<ul>
					<li><a href="#">First</a></li>
					<li><a href="#">Second</a></li>
					<li><a href="#">Third</a></li>
					<li>
						<span>Fourth<b></b></span>
						<ul>
							<li><a href="#">4-1</a></li>
							<li><a href="#">4-2</a></li>
							<li><a href="#">4-3</a></li>
							<li><a href="#">4-4</a></li>
							<li><a href="#">4-5</a></li>
							<li><a href="#">4-6</a></li>
						</ul>
					</li>
					<li><a href="#">Fifth</a></li>
					<li><a href="#">Sixth</a></li>
				</ul>
			</li>
			<li><a href="/about">About</a></li>
			<li><a href="./register">Register</a></li>
			<li class="last"><a href="#">Contact</a></li>
		</ul>
		<br class="clearfix" />
	</div>