<% include menu %>
<% include slider %>

<div id="page">
		<div id="content">
			<div class="box">
				<h2 style="color:red"><%= result %></h2>
				<br>
				<h2>User Registration here!!!</h2>
                
                <form method="POST" action="/register">
                    <table  cellspacing='10'>
                        <tr>
                            <td>Name</td>
                            <td>
                            <input type="text" name="nm" />    
                            </td>
                        </tr>
                        <tr>
                            <td>Username(Email ID)</td>
                            <td>
                            <input type="text" name="unm" />    
                            </td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>
                            <input type="password" name="pass" />    
                            </td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>
                            <textarea name="address" rows="5" cols="32"></textarea>    
                            </td>
                        </tr>
                        <tr>
                            <td>Phone no.</td>
                            <td>
                            <input type="text" name="mob" />    
                            </td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>
                            <select name="city">
                                <option>Select City</option>
                                <option>Indore</option>
                                <option>Bhopal</option>
                                <option>Ujjain</option>
                            </select>    
                            </td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>
                            Male <input type="radio" name="gender" value='male' checked/>
                            &nbsp;&nbsp;    
                            Female <input type="radio" name="gender" value='female'/>
                            </td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td>
                            <input type="date" name="date" />    
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                               <center><input type="submit" name="s" value="Register" /></center>     
                            </td>
                        </tr>
                    </table>        
                </form>

                </div>
		</div>
		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">Facebook</a></li>
					<li><a href="#">Gmail</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">LinkedIn</a></li>
				</ul>
			</div>
			
		</div>
		<br class="clearfix" />
	</div>
    <!--
		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">LinkedIn</a></li>
					<li><a href="#">Instagram</a></li>
					<li class="last"><a href="#">Google Hangouts</a></li>
				</ul>
			</div>
			<div class="box">
				<h3>Activity Log</h3>
				<div class="date-list">
					<ul class="list date-list">
						<li class="first"><span class="date">24/06</span> <a href="#">Project Started</a></li>
						<li><span class="date">24/06</span> <a href="#">Template Installed</a></li>
						<li><span class="date">24/06</span> <a href="#">Template Edited</a></li>
						<li class="last"><span class="date">24/06</span> <a href="#">UI Completed</a></li>
					</ul>
				</div>
			</div>
		</div>
		<br class="clearfix" />
	</div>
	-->
<% include pagebottom %>


